<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h2>Registrar<h2>
  <p>Aqui vai aparecer a lista dos associados da ong </p>
</body>
</html>